<html>
	<head></head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css"  />
<link rel="stylesheet" href="../../../css/Style.css" type="text/css"  />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<body>
		<div class="header">
 <div class="left">
  <label><a href="/"><i class="glyphicon glyphicon-log-out"></i> Home</a></label>
    </div>
    </div>
		<div class ="cautare">
			
	<form action="CautarePersoana.jsp" method="GET"> 
 <input type="text" name="persoana" /><br /> 
<input type="submit" value="Cauta Persoana" button class="w3-button w3-border w3-hover-light-blue"></button>
</form> 
<form action="CautareMasina.jsp" method="GET"> 
 <input type="text" name="masina" /><br /> 
<input type="submit" value="Cauta Masina" button class="w3-button w3-border w3-hover-light-blue"></button>
</form>

<form action="CautareVerificare.jsp" method="GET"> 
 <input type="text" name="verificare" /><br /> 
<input type="submit" value="Cauta Verificare" button class="w3-button w3-border w3-hover-light-blue"></button>
</form>
 <form action="CautarePersonal.jsp" method="GET"> 
 <input type="text" name="ofiter" /><br /> 
<input type="submit" value="Cauta Ofiter" button class="w3-button w3-border w3-hover-light-blue"></button>
</div>
 
</form> 
</body>	
</html>
