<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css"  />
<link rel="stylesheet" href="../../css/Style.css" type="text/css"  />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>welcome </title>
</head>

<body>

<div class="header">
 <div class="left">
  <label><a href="/"><i class="glyphicon glyphicon-log-out"></i> Home</a></label>
    </div>
    
</div>
<div class="content">
Project SI 
</br>
Gestiunea unui punct vamal
</div>
<ul>
  
  <li><a href="http://localhost:8080/cautare.do">Cautare</a></li>
  
    <li class="dropdown">
	  
    <a href="javascript:void(0)" class="dropbtn">Modificare</a>
    <div class="dropdown-content">
      <a href="http://localhost:8080/ModificareMasina.do">Masina </a>
      <a href="http://localhost:8080/ModificarePersoana.do">Persoana </a>
      <a href="http://localhost:8080/ModificarePersonal.do">Ofiter</a>
      <a href="http://localhost:8080/ModificareVerificare.do">Verificare </a>
      
    </div>
      </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Afisare</a>
    <div class="dropdown-content">
      <a href="http://localhost:8080/masini.do">Masina </a>
      <a href="http://localhost:8080/persoana.do">Persoana </a>
      <a href="http://localhost:8080/personal.do">Ofiter</a>
      <a href="http://localhost:8080/verificare.do">Verificare </a>
      
    </div>
  </li>
   <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Inserare</a>
    <div class="dropdown-content">
      <a href="http://localhost:8080/InserareMasina.do">Masina </a>
      <a href="http://localhost:8080/InserarePersoana.do">Persoana </a>
      <a href="http://localhost:8080/InserarePersonal.do">Ofiter</a>
      <a href="http://localhost:8080/InserareVerificare.do">Verificare </a>
      
    </div>
  </li>
  <li class="dropdown">
	  
    
</ul>
</body>
</html>