<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css"  />
<link rel="stylesheet" href="../../../css/Style.css" type="text/css"  />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Inserare Personal </title>

  
     
   </head>
   
   <body>
   			<div class="content">
   			 <form action = "InsertPersonal.jsp" method = "GET">
         Cod Ofiter: <input type = "text" name = "codo">
         <br />
         Nume: <input type = "text" name = "nume" />
           <br />
         Prenume: <input type = "text" name = "pren" />
         <br />
           Rang: <input type = "text" name = "rang" />
         <br />
         <input type = "submit" value = "Insert" />
         <br />
      </form>
      <br />
      <form action = "../" method ="GET">
     			<input type = "submit" value = "Back" />
     			</form>
     			
   </div>
     	
     			
     			
      
      
       </body>
</html>